.formBox{
    width: 45rem;
}
.cardBox{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    height: 20rem;
}

@media (max-width:520px){
    .formBox{
        width: 95vw;
    }
    .cardBox{
        grid-template-columns: 1fr;
    }
}