@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
body{
  background-color: rgb(255, 255, 255);
}

/* width and height */
.width90{
  width: 90%;
}
.height30{
  height: 30rem;

}
.imgBox {
  width: 45%;
  height: 40rem;
}
.sliderBox{
  grid-template-columns: 2fr 1fr;
}
#swiperOne {
  margin-left: 0;
  margin-right: 0;
}

#swiperTwo {
  margin-left: 0;
  margin-right: 0;
}

.swipOne {
  border-radius: 10px;
  /* width: 45rem; */
  height: 30.5rem;

}

.swipTwo {
  border-radius: 10px;
  /* width: 35rem; */
  width: 100%;
  height: 15rem;

}

.swiper-slide {
  width: 45rem;
}

/* on Hover css */
.hoverWhite {
  transition: all .8s;
  cursor: pointer;
}

.hoverWhite:hover {
  background-color: white;
  color: black;
  transition: all .5s;
}

.hoverBlack {
  transition: all .8s;
  cursor: pointer;
}

.hoverBlack:hover {
  background-color: black;
  color: white;
  transition: all .5s;
}

/* border css */
.grayBorderBottom {
  border-bottom: 1px solid rgb(210, 210, 210);
}
.babyBlueBorderBottom{
  border-bottom: 3px solid rgb(71, 124, 239);
}
.blackBorderBottom{
  border-bottom: 3px solid rgb(0, 0, 0);
}
.greenBorderBottom{
  border-bottom: 3px solid rgb(163, 215, 42);
}

/* text size */
.text-xxs {
  font-size: 0.5rem;
}

/* background css */

.blurBack {
  background-color: #00000088;
}